.CodeMirror {
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 1.42857143;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#taskref {
	position: absolute;
	display: inline !important;
	width: 0;
	margin-left: 30px;
	height: 0;
	padding: 0px;
	border-width: 0;
}